/*variables generales*/
/*variables navbarr*/
/*variables estados*/
/*variables footer*/
/*carouseles*/
* {
  /*reset*/
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*terminareset*/
/*ajustes generales*/
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.25rem;
  background: #055882;
  background: linear-gradient(180deg, #055882 9%, #067751 23%, #460253 64%, #0b000d 92%); }

/*terminan ajustes generales*/
/* inicia barra de navegacion*/
.navbar {
  z-index: 3;
  background: #9695ac;
  background: linear-gradient(180deg, #0600d1 11%, #454e73 45%, #0b000d 100%); }
  .navbar a {
    color: aliceblue; }
  .navbar-logo {
    font-size: 175%; }

/*termina barra nav*/
/*index*/
.grilla_index {
  display: grid;
  grid-template-columns: 34% 34% 32%;
  grid-template-rows: repeat 6, auto;
  grid-template-areas: "artbienvenida artbienvenida artbienvenida" "imgsprincipales imgsprincipales imgsprincipales" "video video columna" "carta1 carta2 columna" "carta1 carta2 columna" "carta3 carta3 columna";
  row-gap: 3px;
  column-gap: 7px;
  justify-content: center;
  justify-items: center;
  align-items: center; }
  @media screen and (max-width: 992px) {
    .grilla_index {
      grid-template-columns: 50% 50%;
      grid-template-areas: "artbienvenida artbienvenida" "imgsprincipales imgsprincipales " "video video" "carta1 columna" "carta2 columna" "carta3 carta3"; } }
  @media screen and (max-width: 576px) {
    .grilla_index {
      grid-template-columns: 100%;
      grid-template-areas: "artbienvenida" "imgsprincipales" "video" "carta1" "carta2" "columna" "carta3"; } }
  @media screen and (max-width: 360px) {
    .grilla_index {
      grid-template-columns: 100%;
      grid-template-areas: "artbienvenida" "imgsprincipales" "video" "carta1" "carta2" "columna" "carta3"; } }

.artbienvenidaindex {
  grid-area: artbienvenida;
  padding: 1.5rem;
  font-size: 1.25rem;
  width: 97%; }
  @media screen and (max-width: 360px) {
    .artbienvenidaindex {
      padding: 1rem;
      padding-top: 3rem;
      font-size: 1rem;
      width: 99%; } }
  .artbienvenidaindex h1 {
    font-size: 2.25rem;
    text-align: center;
    padding: .45rem; }
  .artbienvenidaindex p {
    padding: .50rem; }

.imgs_principales_cont {
  grid-area: imgsprincipales;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center; }
  .imgs_principales_cont img {
    width: 30%;
    height: 21rem;
    transition: 1s ease-out; }
    @media screen and (max-width: 992px) {
      .imgs_principales_cont img {
        width: 31%;
        height: 17rem; } }
    @media screen and (max-width: 576px) {
      .imgs_principales_cont img {
        width: 30%;
        height: 7rem; } }
  .imgs_principales_cont :hover {
    transform: scale(1.2); }

.video_1 {
  grid-area: video;
  padding: 1rem;
  width: 70%; }
  @media screen and (max-width: 360px) {
    .video_1 {
      padding: .25rem;
      height: 8rem; } }

.articulo_1index {
  grid-area: carta1;
  background-color: rgba(154, 134, 134, 0.485);
  align-self: start; }

.articulo_2index {
  grid-area: carta2;
  background-color: rgba(154, 134, 134, 0.485);
  align-self: start; }

.articulo_2index a:visited {
  color: rgba(138, 130, 55, 0.892); }

.articulo_2index img {
  width: 23rem;
  padding: .5rem;
  width: 100%; }
  @media screen and (max-width: 576px) {
    .articulo_2index img {
      padding: 1.5rem; } }

.articulo_1index h2, .articulo_2index h2 {
  padding: .7rem;
  font-size: 1.80rem; }

.articulo_3index {
  grid-area: carta3;
  background-color: rgba(154, 134, 134, 0.485);
  align-self: center; }

.columna {
  grid-area: columna;
  justify-self: end;
  align-self: stretch;
  padding: 1.6rem; }
  .columna ol {
    padding: 0rem; }
  .columna h2 {
    color: #c7daec;
    font-size: 1.95rem;
    margin: 2rem 1px 3rem 1px; }
  .columna li {
    list-style: lower-roman;
    background: rgba(241, 186, 124, 0.941);
    padding: 2rem 1rem;
    list-style: none; }
    @media screen and (max-width: 576px) {
      .columna li {
        padding: 1rem .5rem;
        margin: .5rem 1px .5rem 1px; } }

.post1, .post3, .post5, .post7, .post9 {
  transform: rotate(3deg); }

.post2, .post4, .post6, .post8 {
  transform: rotate(-3deg); }

/*termina index*/
/*ecosistemas*/
.contenedor_carousel img {
  padding-top: 5.5rem;
  height: 25rem; }
  @media screen and (max-width: 992px) {
    .contenedor_carousel img {
      height: 19rem; } }
  @media screen and (max-width: 576px) {
    .contenedor_carousel img {
      height: 14rem; } }
  @media screen and (max-width: 360px) {
    .contenedor_carousel img {
      margin-top: 2rem;
      height: 10rem; } }

.titulo--color1 {
  color: #8840a9; }

.titulo--color2 {
  color: #7a53b4; }

.titulo--color3 {
  color: #535fb4; }

.titulo--color4 {
  color: #5386b4; }

.titulo--color5 {
  color: #53b4a2; }

/*termina ecosistemas*/
/*main lugares*/
.carousel_lugares img {
  padding-top: 5.5rem;
  height: 25rem; }
  @media screen and (max-width: 992px) {
    .carousel_lugares img {
      height: 19rem; } }
  @media screen and (max-width: 576px) {
    .carousel_lugares img {
      height: 14rem; } }
  @media screen and (max-width: 360px) {
    .carousel_lugares img {
      margin-top: 2rem;
      height: 10rem; } }

.tarjetas_lugares img {
  filter: drop-shadow(7px 7px 9px black);
  height: 25rem; }

.tarjetas_lugares p {
  margin-top: 1rem; }

/*termina main lugares*/
/*estados main*/
.carousel_estados img {
  padding-top: 5.5rem;
  height: 25rem; }
  @media screen and (max-width: 992px) {
    .carousel_estados img {
      height: 19rem; } }
  @media screen and (max-width: 576px) {
    .carousel_estados img {
      height: 14rem; } }
  @media screen and (max-width: 360px) {
    .carousel_estados img {
      margin-top: 2rem;
      height: 10rem; } }

.titulo--font1 {
  font-size: font1; }

.titulo--font2 {
  font-size: font2; }

.titulo_estado {
  color: #8840a9; }

.contenedor_estado {
  background-color: rgba(197, 224, 247, 0.612); }
  .contenedor_estado img {
    filter: drop-shadow(7px 7px 7px black);
    width: 100%;
    height: 23rem; }

h2 {
  font-size: 175%; }

/*termina main estados*/
/*tradiciones y cultura*/
.carousel_tradiciones img {
  padding-top: 5.5rem;
  height: 25rem; }
  @media screen and (max-width: 992px) {
    .carousel_tradiciones img {
      height: 19rem; } }
  @media screen and (max-width: 576px) {
    .carousel_tradiciones img {
      height: 14rem; } }
  @media screen and (max-width: 360px) {
    .carousel_tradiciones img {
      margin-top: 2rem;
      height: 10rem; } }

.img_dia_muertos, .img_posadas {
  width: 49%;
  height: 25rem; }

.dia_muertos, .posadas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1px;
  padding: 1px; }

.dia_muertos h2, .posadas h2 {
  font-size: 2.5rem;
  width: 100%;
  text-align: center; }

/*/termmina tradiciones y cultura*/
/*comunidad*/
.boton, .boton--m, .boton--m2 {
  background-color: #6595be;
  font-size: 1rem;
  padding: .5rem;
  display: block;
  margin: 5%auto 1%;
  border-radius: 10%; }

.boton--m {
  background-color: #62b453;
  font-size: 1.2rem; }

.boton--m2 {
  font-size: 1.5rem;
  background-color: #27b27d; }

.anuncio {
  font-size: 2rem;
  background: #54954a;
  background: linear-gradient(90deg, #5ba150 25%, #073e00 92%);
  padding: .25rem;
  width: 20%;
  display: inline-block;
  position: absolute;
  top: 40rem;
  right: 6rem; }
  @media screen and (max-width: 992px) {
    .anuncio {
      display: none; } }
  @media screen and (max-width: 576px) {
    .anuncio {
      display: none; } }
  @media screen and (max-width: 360px) {
    .anuncio {
      display: none; } }

/*footer*/
.linkredes img {
  width: 10%; }
