/*variables generales*/
/*variables navbarr*/
/*variables estados*/
/*variables footer*/
* {
  /*reset*/
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*terminareset*/
/*ajustes generales*/
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.25rem;
  background: #055882;
  background: linear-gradient(180deg, #055882 9%, #067751 23%, #460253 64%, #0b000d 92%); }

/*terminan ajustes generales*/
/* inicia barra de navegacion*/
.navbar {
  z-index: 3;
  background: #9695ac;
  background: linear-gradient(180deg, #0600d1 11%, #454e73 45%, #0b000d 100%); }
  .navbar a {
    color: aliceblue; }
  .navbar-logo {
    font-size: 175%; }

/*termina barra nav*/
/*estados main*/
.contenedor_estado {
  background-color: rgba(197, 224, 247, 0.612); }
  .contenedor_estado img {
    width: 100%;
    height: 23rem; }
  .contenedor_estado h2 {
    font-size: 175%; }

/*termina main estados*/
/*footer*/
.linkredes img {
  width: 10%; }
