                           /* inicia barra de navegacion*/
.navbar  {
    z-index: $zindexnav ;
    background: $colorbacknavbarr1;
background: $colorbacknavbarr;

   & a{
    color: $colornavbara;
}
        &-logo {
        font-size:$fontziselogonav;
        @include adaptablecelindex{
            font-size: 115%;
        }
}    
         
}         
.boton_coll{
    color: rgb(61, 93, 93);
    background-color: rgba(152, 161, 167, 0.789);
}                         /*termina barra nav*/