/*index*/
.grilla_index{
display: grid;
grid-template-columns: 34% 34% 32% ;
grid-template-rows: repeat (6,auto);
grid-template-areas:"artbienvenida artbienvenida artbienvenida"
                    "imgsprincipales imgsprincipales imgsprincipales"
                    "video video columna"
                    "carta1 carta2 columna"
                    "carta1 carta2 columna"
                    "carta3 carta3 columna"                  
;       
row-gap: 3px;  
column-gap: 7px; 
justify-content: center;           
justify-items: center;
align-items: center;
@include adaptableindex{
    grid-template-columns: 50% 50%;
        grid-template-areas:  "artbienvenida artbienvenida"
                                "imgsprincipales imgsprincipales "
                                "video video"
                                "carta1 columna"
                                "carta2 columna"
                                "carta3 columna"
        ;      
}
@include adaptablephabletindex{
    grid-template-columns: 50% 50%;
    grid-template-areas:  "artbienvenida artbienvenida"
                            "imgsprincipales imgsprincipales "
                            "video video"
                            "carta1 columna"
                            "carta2 columna"
                            "none columna"  
                            "carta3 carta3 "                      
    ; 
}
@include adaptablecelindex{
    grid-template-columns: 100%;
    grid-template-areas:  
                            "artbienvenida"
                            "imgsprincipales"
                            "video"
                            "carta1"
                            "carta2"
                            "columna"
                            "carta3"                   
    ;      
}
 }                                                                                        
    .artbienvenidaindex{
    grid-area: artbienvenida;
    padding: 1.5rem; 
    font-size: 1.25rem;
    width: 97%;
    @include adaptablecelindex{
        padding: 1rem; 
        padding-top: 3rem;
        font-size: 1rem;
        width: 99%;
    }
    h1{
        font-size: 2.25rem;
        text-align: center;
        padding: .45rem;
    }
    p{
        padding: .50rem; }
}
.imgs_principales_cont{
    grid-area: imgsprincipales;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
        width: 100%; 
    justify-content: center;       
    img{
        width:30% ;
        height:21rem;
        transition: 1s ease-out;
        @include adaptableindex{
            width:31% ;
            height:17rem;
        }
        @include adaptablephabletindex{
            width:30% ;
            height:7rem;
        }
    }     
    :hover{
        transform: scale(1.2);}
}        
.video_1{
    grid-area: video ;
    padding: 1rem;
    width: 70%; 
    @include adaptablecelindex{
        padding: .25rem;
        height: 8rem;
    }
} 
.articulo_1index{
    grid-area: carta1;
    background-color:rgba(154, 134, 134, 0.485) ;
    align-self: start;
} 
.articulo_2index {
    grid-area: carta2;
    background-color:rgba(154, 134, 134, 0.485) ; 
    align-self: start;
}
.articulo_2index a:visited{
    color:rgba(138, 130, 55, 0.892)
}
.articulo_2index img{
    width: 23rem;
    padding: .5rem;
    width: 100%;
}
.articulo_1index h2, .articulo_2index h2 {
    padding: .7rem;
    font-size: 1.80rem; 
}
.articulo_3index{
    grid-area: carta3;
    background-color:rgba(154, 134, 134, 0.485) ; 
    
    align-self: center;
}
.columna{
    grid-area: columna;
    justify-self: end;
    align-self:stretch ;
    padding: 1.6rem;
    ol {
        padding: 0rem;
        }
    h2{
        color: rgb(199, 218, 236);
        font-size: 1.95rem;
        margin: 2rem 1px 3rem 1px; 
    }
    li{
        list-style: lower-roman;
        background: rgba(241, 186, 124, 0.941);
        padding: 2rem 1rem;
        list-style:none ;   
    @include adaptablephabletindex{
        padding: 1rem .5rem;
        margin: .5rem 1px .5rem 1px;
    }
    }
}
.post1, .post3, .post5, .post7, .post9{
    transform: rotate(3deg);
}
.post2, .post4, .post6, .post8{
    transform: rotate(-3deg);
}                                   
                                        /*termina index*/
                                         /*ecosistemas*/

.contenedor_carousel img{
    @include tamanoscarouseles;   
    @include tablet { height:19rem;}    
    @include phablet{ height: 14rem;}
    @include cel{margin-top: 2rem;
        height: 10rem;}
}             
@each $name, $color in $map1  {
    .titulo--#{$name} {
    color: $color;
    }
}              
                                      /*termina ecosistemas*/
                                        /*main lugares*/                  
.carousel_lugares img{
   @include tamanoscarouseles;
   @include tablet { height:19rem;}    
   @include phablet{ height: 14rem;}
   @include cel{margin-top: 2rem;
       height: 10rem;}
}           
.tarjetas_lugares{

    img{
        filter: drop-shadow(7px 7px 9px black);
        height: 25rem
    }
    p{
        margin-top: 1rem;
    }
}
                                                            /*termina main lugares*/
                                                           /*estados main*/
.carousel_estados img{
   @include tamanoscarouseles;
   @include tablet { height:19rem;}    
    @include phablet{ height: 14rem;}
    @include cel{margin-top: 2rem;
        height: 10rem;}
}                           
@each $name, $fontsize in $map2 {
    .titulo--#{$name} {
    font-size: $name;
    }
}                                                          
.titulo_estado {
    color: map-get($map1, color1);
}
.contenedor_estado{
        background-color: rgba(197, 224, 247, 0.612);

    img{
        filter: drop-shadow(7px 7px 7px black);
        width: 100%;
        height: 23rem;
    }
    }
    h2{
        font-size: $fontziseh2contestados;
    }
                        /*termina main estados*/
                        /*tradiciones y cultura*/
.carousel_tradiciones img{
     @include tamanoscarouseles;
     @include tablet { height:19rem;}    
     @include phablet{ height: 14rem;}
     @include cel{margin-top: 2rem;
         height: 10rem;}
}                 
.img_dia_muertos , .img_posadas{ 
    width: 49% ;
    height:25rem;
}
.dia_muertos, .posadas { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1px;
    padding: 1px;
}
.dia_muertos h2 , .posadas h2 {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}
/*/termmina tradiciones y cultura*/
                                          /*comunidad*/
.boton{
     background-color: #6595be;
    font-size: 2rem;
    padding: 1rem;
    display: block;
    margin: 5%auto;
}
.boton--m{
    @extend .boton;
    background-color: #62b453;
    font-size: 2.5rem;
}           