/*estados main*/
.contenedor_estado{
background-color: $backgcolcontestado;

 & img{
width: $wimgcontestados;
height: $himgcontestados;
}
 & h2{
     font-size: $fontziseh2contestados;
 }
}                    /*termina main estados*/