         /*ajustes generales*/
body{
    font-family: $fuente;
    font-size: $fontzisegeneralbody;
    background: $colorbody1;
    background: $colorbody;
}
                     /*terminan ajustes generales*/              