/*variables generales*/
$fuente:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fontzisegeneralbody:1.25rem;
$colorbody1:rgb(5,88,130);
$colorbody:linear-gradient(180deg, rgba(5,88,130,1) 9%, rgba(6,119,81,1) 23%, rgba(70,2,83,1) 64%, rgba(11,0,13,1) 92%);
/*variables navbarr*/
$zindexnav:3;
$colornavbara:rgb(240, 248, 255);
$fontziselogonav: 175%;
$colorbacknavbarr1:rgb(11, 11, 11);
$colorbacknavbarr:linear-gradient(180deg, rgb(46, 40, 227) 11%, rgba(69,78,115,1) 45%, rgb(27, 24, 27) 100%);
/*variables estados*/
$backgcolcontestado:rgba(197, 224, 247, 0.332);
$wimgcontestados:100%;
$himgcontestados:23rem;
$fontziseh2contestados:175%;

/*variables footer*/
$imgsredess:10%;
/*carouseles*/
@mixin tamanoscarouseles {
    padding-top:$paddtopcarousel;
     height:27rem;
} 
$paddtopcarousel:5.50rem;
$map1:(
     color1: #8840a9,
     color2: #7a53b4,
     color3: #535fb4,
     color4: #5386b4,
     color5: #53b4a2
);
$map2:(
    font1: 4rem,
    font2: 3.5rem
);
$map4:(
    nuevoh1: rgba(252, 200, 104, 0.807),
    nuevoh2: rgba(233, 147, 147, 0.807),
    nuevoh3: rgba(148, 242, 101, 0.807),
    nuevoh4: rgba(244, 145, 196, 0.807),
    nuevoh5: rgba(104, 252, 213, 0.807),
    nuevoh6: rgba(71, 195, 237, 0.807),
);
$map5:(
     pin1: (-50px ),
     pin2: (-50px ),
     pin3: (-50px),
     pin4: (-50px),
     pin5: (-50px ),
     pin6: (-50px ),
     pin7: (-50px),
     pin8: (-50px),
     pin9: (-50px)
);
@mixin pin {
    top: -50px;
    position: relative;
    left: 50%;
    width: 2rem;
    filter: drop-shadow(5px 5px 6px black);
}
$colortextoartculuos:rgb(0, 0, 0);
@mixin animacionpaginasenproceso{
    h2{
        color: rgb(249, 232, 76);
        font-size:4rem;
        @include tablet{
            font-size: 2rem;
        }
        @include phablet{
            font-size: 1.2rem;
        }
        @include cel{
            font-size: .75rem;
        }
        animation-name: mar;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 10s ;
        z-index: 1;
        position: relative;
        bottom: 20rem;
    }
        img{
            position: relative;
            top: -12rem;
            width: 100%;
            height: 70rem;
            z-index: 2;
            opacity: 0.5;
        }
        @keyframes mar{
            0% {
                transform: rotate(0deg) translatex(0rem) translateY(0rem) ;
            }
            10%{
                transform:  rotate(3deg) translatex(-4rem) translateY(-6rem) ;  
            }
            20%{
                transform:  rotate(-3deg) translatex(4rem) translateY(-13rem) ;
            }
            30%{
                transform:  rotate(3deg) translatex(-4rem) translateY(-24rem) ; 
            }
            40%{
                transform:  rotate(-3deg) translatex(5rem) translateY(-33rem) ; 
            }
            50%{
                 transform:  rotate(3deg) translatex(-5rem) translateY(-45rem) ;
            }
            60%{
                transform: rotate(-3deg)  translatex(4rem) translateY(-33rem) ;
            }
            70%{
                transform: rotate(3deg)  translatex(-5rem) translateY(-24rem) ; 
            }
            80%{
                transform: rotate(-3deg) translatex(4rem) translateY(-13rem) ;
            }
            90%{
                transform:rotate(3deg) translatex(-4rem) translateY(-6rem) ;
            }
            100%{
                transform: rotate(0deg) translateX(0rem) translateY(0rem) ;
            }
        }
}