/*variables generales*/
$fuente:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fontzisegeneralbody:1.25rem;
$colorbody1:rgb(5,88,130);
$colorbody:linear-gradient(180deg, rgba(5,88,130,1) 9%, rgba(6,119,81,1) 23%, rgba(70,2,83,1) 64%, rgba(11,0,13,1) 92%);
/*variables navbarr*/
$zindexnav:3;
$colornavbara:rgb(240, 248, 255);
$fontziselogonav: 175%;
$colorbacknavbarr1:rgb(150, 149, 172);
$colorbacknavbarr:linear-gradient(180deg, rgba(6,0,209,1) 11%, rgba(69,78,115,1) 45%, rgba(11,0,13,1) 100%);
/*variables estados*/
$backgcolcontestado:rgba(197, 224, 247, 0.612);
$wimgcontestados:100%;
$himgcontestados:23rem;
$fontziseh2contestados:175%;

/*variables footer*/
$imgsredess:10%;
/*carouseles*/
$paddtopcarousel:5.50rem;